---
interface Props {
  headline: string; // será el H1 de la página
  sub: string;
  id?: string;
}
const { headline, sub, id = "intro-headline" } = Astro.props;
---
<section id={id} aria-labelledby={`${id}-title`} class="mt-8 md:mt-10 my-20">
  <header class="max-w-3xl mx-auto text-center">
    <h1 id={`${id}-title`} class="font-serif text-3xl my-10 md:text-4xl font-bold leading-tight tracking-tight text-center max-w-5xl mx-auto px-4">
      {headline}
    </h1>
    <p class="mt-4 text-base md:text-lg text-base-ink/90">
      {sub}
    </p>
  </header>
</section>